<div class="row">         
  <div class="dt-sc-overlay-section dt-sc-column">
    {{ page.content }}
  </div>
</div>
{% section 'inner-page-overlay-section' %}    
{% section 'inner-page-masonary-overlay-section' %}    
{% section 'inner-page-partial-overlay-section' %}    
{% section 'inner-page-list-with-image-section' %}   
{% section 'inner-page-content-with-image-section' %}  
{% section 'inner-page-image-with-icon-section' %}
{% section 'inner-page-image-with-icon-section-type-2' %}
{% section 'inner-page-icon-text-section' %}
{% section 'inner-page-team-section' %}
{% section 'inner-page-info-box-section' %}
{% section 'inner-page-icon-box-section' %}
{% section 'inner-page-number-counter-section' %}
{% section 'inner-page-brand-logos' %}
{% section 'inner-page-testimonials-section' %}
